
/**
 * Piwik logo.
 */

.logo[data-logo="Piwik"] {
  width: 2.6em;
}

.logo[data-logo="Piwik"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Piwik"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Piwik"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
